<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict/>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>69096CFD2D595A8600D80ED6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>69096D0D2D595A8700D80ED6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>69096D172D595A8700D80ED6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
